
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="~/Content/Images/favicon.png" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/admin")
	@Scripts.Render("~/bundles/mainBundle")
</head>
<body>
    @RenderBody()
</body>
</html>
