body {
	background-color: black;
}

.home-back img {
	content: url('');
	 height: 0%; 
	 width: 0%; 
	 position: absolute; 
	 left: 0; 
}

.home-header-logo {
	position: absolute;
	top: 9%;
	right: 0;
}

@media(max-width: 600px)
{
	.video-row {
		text-align: center;
	}
}
